<header class="container">
    <h1 id="header" class="brand-logo center">Doodle Buddy</h1>

</header>

<div class="container">
    <div class="row">
        <div class="col l3">
            <div class="user-input" id="chat">
                <ul id="messages"></ul>
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Chat" id="chat-text"type="text" class="validate">

                    </div>

                </div>
            </div>
        </div>
        <div class="col l6 user-input" id="drawing">
            <canvas id="myCanvas" height="400px" width="640"> </canvas>
            <a class="waves-effect waves-light btn" id="clear">Clear</a>

        </div>
        <div class="col l3">
            <div></div>
        </div>

    </div>
</div>