<header class="container">
    <h1 id="header" class="has-text-centered column">Doodle Buddy</h1>

</header>

<div class="container">
    <div class="columns">
        <div class="column is-one-quarter">
            <div class="user-input"></div>
        </div>
        <div class="column is-half">
            <div class="user-input" id="canvas"></div>
        </div>
        <div class="column">
            <div class=""></div>
        </div>
  
    </div>
</div>