<header class="container">
    <h1 id="header" class="brand-logo center">Doodle Buddy</h1>

</header>

<div class="container">
    <div class="row">
        <div class="col l4 m4">
            <div class="user-input" id="chat">
                <div class="row">

                    <ul id="messages"></ul>
                    
                    <form action="" class="col s12">
                        <div class="col s12 input-field">
                            <input id="m" autocomplete="off" />
                        </div>
                        <div class="col s12 input-field">
                            <button class="btn">Send</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <div class="col l6 m6 user-input" id="drawing">
            <canvas id="myCanvas" height="395px" width="400px"> </canvas>
            <div class="row">
                <a class="waves-effect waves-light btn" id="clear">Clear</a>

            </div>
        </div>
    </div>

</div>