html, body {
    background-color: #FFEEBA;
    
}
#header {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 80px;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #EB5757;
    color: #FFF4D4;
    
}

.user-input {
    background-color: #FFF4D4;
    border-style: solid;
    border-width: 3px;
    border-color: #EB5757;
    border-radius: 30px;
    height: 400px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}