html,
body {
    /* Full height */
    height: 100%;
    width: 100%;
    /* pairing font */
    font-family: 'Lato', sans-serif;   
}

#m {
     /* writes in pairing font */
     font-family: 'Lato', sans-serif;   
     margin-bottom: 0px;
     padding-bottom: 0px;
}

#background-image{
    /* wallpaper of pencils with lines */
    background-image: url("pencils.jpg");

    /* Full height */
    height: 100%; 
    width: 100%;

    /* Center and scale the image nicely */
    background-position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}

#header {
    /* main logo font */
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 80px;
    /* stroke color */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #406a6c;
    /* inner color */
    color: #449995; 
}

.user-input {
    background-color: #fff7db;
    border-style: solid;
    border-width: 2px;
    border-color: #cd8f3d;
    border-radius: 20px;
    /* div height  */
    height: 400px;
    opacity: 0.8;
}

#chat {
    position: relative;
}

#messages {
    list-style-type: none;
    padding: 5px;
    width: 91%;
    margin-left: 11px;
    margin-top: 15px;
    max-height: 250px;
    overflow: auto;
    
}

#messages li {
    padding: 5px 10px;
    font-family: 'Gloria Hallelujah', cursive;
}

#messages li:nth-child(odd) {
    background: rgba(255, 240, 184, 1) ;
}

form {
    position: absolute;
    bottom: 0;
    width: 90%;
    margin-bottom: 1px;

}

input {
    margin-left: 10px;
}

.btn {
    background-color: #FFF4D4;
    color: #364c46;
    opacity: 1.0;
}

.send-btn {
    position: relative;
    bottom: 8px;
    opacity: 1.0;
    margin-right:10px;
}

#start-timer {
    font: 35px bolder;
    font-family: 'Gloria Hallelujah', cursive;
    padding-left: 25px;
}

.clear-btn {
    margin: 0px;
    position: relative;
    bottom: 55px;
    left: 20px;
    opacity: 1.0;
}


.input-field{
    margin-top: 0px;
    padding-left: 20px;
}

